# Laravel specific
lenslink-api/.env
lenslink-api/.env.backup
lenslink-api/.env.production
lenslink-api/storage/*.key
lenslink-api/storage/pail
lenslink-api/auth.json
lenslink-api/public/storage
lenslink-api/public/hot
lenslink-api/public/build
lenslink-api/vendor
lenslink-api/.phpunit.result.cache
lenslink-api/.phpunit.cache

# Node / Frontend
node_modules/
frontend/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# OS specific
.DS_Store
Thumbs.db

# specific IDEs and editors
.idea/
.vscode/
*.swp
*.swo
.fleet/
.nova/
.zed/

# PHPUnit
.phpunit.result.cache
